@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в AirLogger</h1>
    <p>Узнайте больше <a href="https://docs.microsoft.com/aspnet/core">сборка приложений с ASP.NET Core</a>.</p>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="UserExceptions" asp-action="Index">Исключения проектов</a>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="AnalisReports" asp-action="Index">Отчёты анализа</a>
</div>
